.log-container {
    height: 200px; /* Adjust the height as needed */
    overflow-y: scroll;
    border: 1px solid #ccc;
    padding: 10px;
}
.CodeMirror {
    height: 300px; /* Set the initial height */
    max-height:2000px; /* Set the maximum height */
}